@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient(circle at 50.4% 50.5%, rgb(217, 215, 242) 10%, rgb(27, 13, 216)90%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

h1 {
    font-family: Open-sans, serif;
    font-weight: bolder;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin: 25px auto;
    padding: 0;
}

h2 {
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
    color: whitesmoke;
    margin: 0.5rem auto;
    padding: 0;
}

h3 {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    margin: 0.5rem auto;
    padding: 0;

}

footer {
    color: whitesmoke;
    font-family: Lato, sans-serif;
}

#name {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #000000;
    color: whitesmoke;
    margin: 0 auto;
    padding: 3px 20px 5px 20px;
}

#myinput {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: whitesmoke;
    background-color: #000000;
    text-transform: uppercase;
    margin: 20px 60px 40px 10px;
    padding: 4px 4px 4px 4px
}

#reset {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #000000;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px -50px;
}

.result {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #000000;
    margin: 50px -125px 0px 0px;
    padding: 2px 20px 2px 20px;
}

#result {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #000000;
}



#timer {
    padding: 0;
    margin: -25px 0px 60px -185px;
    font-size: x-large;
    color: whitesmoke;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

/*Screen-sizes up to 400px */
@media screen and (max-width:400px) {

    h1 {
        font-size: 1.4rem;
        margin: 24px auto;
    }

    h2 {
        font-size: 1.2rem;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 300px;
    }

    .result {
        margin-top: 225px;
        font-size: small;
        font-family: Lato, sans-serif;
    }
#myinput, #name, #reset {
    font-size: 10px;
    font-family: Lato, sans-serif;
}


    footer {
        font-size: small;
        margin: -50px 0px 10px 0px;
    }
}